<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <display-name>proxibanquev3</display-name>
  
   <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
 
   
   <servlet>
    <description>Validation of authentification</description>
    <display-name>ValidAuthentification</display-name>
    <servlet-name>ValidAuthentification</servlet-name>
    <servlet-class>fr.gtm.projetwebservice.service.ValidAuthentification</servlet-class>
  </servlet>
  
  <servlet>
    <description>Logout servlet</description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>fr.gtm.projetwebservice.service.Logout</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ValidAuthentification</servlet-name>
    <url-pattern>/ValidAuthentification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>

 
  
</web-app>
